[submodule "vim/pack/dist/start/ctrlp"]
	path = vim/pack/dist/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/pack/dist/start/vim-airline"]
	path = vim/pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
