[submodule "/Users/jtpape/Documents/toolbox/vim/pack/dist/start/ctrlp"]
	path = /Users/jtpape/Documents/toolbox/vim/pack/dist/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "/Users/jtpape/Documents/toolbox/vim/pack/dist/start/vim-airline"]
	path = /Users/jtpape/Documents/toolbox/vim/pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
